<html>
  <head>
    <title>Message Detail</title>
  </head>
  <body>
    <h1>Message Detail</h1>
    <p><strong>User:</strong> <%= message.name %></p>
    <p><strong>Text:</strong> <%= message.message %></p>
    <p><strong>Date:</strong> <%= message.date %></p>
    <a href="/">Back to messages</a>
  </body>
</html>
